h1 {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: #ff58d2;
  font-size: 20px;
  color: #fff;
  margin-left: -33px;
  line-height: 1.3;
  z-index: index -100;
}

h2 {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: #ffaf58;
  font-size: 20px;
  color: #fff;
  margin-left: -33px;
  line-height: 1.3;
  z-index:-1;
}